@keyframes logo_rotate {
  from {
    font-size: 100%;
  }
  50% {
    font-size: 150%;
    transform: rotate(180deg);
    border-color: antiquewhite;
    background-color: burlywood;
    color: #3c9c33;
    font-style: italic;
  }
  to {
    font-size: 100%;
    transform: rotate(360deg);
  }
}

.logo_rotate_act {
  animation: logo_rotate 5s linear infinite;
}
.logo_rotate_act:hover {
  animation-play-state: paused;
}

@keyframes yablochko-moove {
  from {
    transform: rotate(0deg) translateX(110px) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}

@keyframes opacity_sun {
  0% {
    border: 2px solid rgb(37, 11, 184);
    opacity: 1;
  }
  25% {
    opacity: 0;
    width: 70%;
    height: 70%;
    border-width: 100px 0 100px 0;
  }
  50% {
    box-shadow: inset 20px 20px 200px rgb(247, 243, 2);
    border-color: yellow;
    opacity: 1;
  }
  100% {
    border: 2px solid rgb(37, 11, 184);
    opacity: 1;
  }
}

.yablochko-moove {
  animation: yablochko-moove 3s linear infinite;
  z-index: 2;
}
.yablochko-stop:hover {
  animation-play-state: paused;
  z-index: 3;
}
.tarelochka-border:hover {
  animation: tarelochka-border 1s linear infinite;
}
.opacity_sun:hover {
  animation: opacity_sun linear 3s infinite;
  transition: anination 2s;
}
