body {
  margin: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin: 0;
}
header {
  height: 100px;
  background: linear-gradient(45deg, rgb(243, 153, 243), rgba(87, 19, 104, 0.753));
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
footer {
    height: 100px;
    background: linear-gradient(to top right, rgb(243, 153, 243), rgba(87, 19, 104, 0.753));
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}
.banner {
  height: 80vh;
  background: url(/img/bg-eye.jpg) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  position: relative;
}
.banner h1 {
  position: relative;
  z-index: 2;
}
.banner::before {
  content: "";
  background-color: #0002;
  width: 100%;
  height: 100%;
  position: absolute;
}
footer::before {
    content: "";
    background-color: #fff1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.info_card {
  border: 1px solid;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
}
.info {
  background-color: rgba(87, 19, 104, 0.753);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.info_card i {
  font-size: 1.5em;
  align-self: center;
}
.container {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
}

@media (min-width: 600px) and (max-width: 1199px) {
  .container {
    padding: 30px;
  }
  header {
    height: auto;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 599px) {
    
  .info {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  header {
    height: auto;
    flex-direction: column;
gap: 10px;
  }
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
  .banner {
    height: 300px;
  }
}