body {
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: #e8f7fc; */
}

a {
  text-decoration: none;
  color: inherit;
}

.absolu {
  background: linear-gradient(to left top, white 10%, rgb(253, 255, 228) 40%,  rgb(213, 248, 210) );
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}

header {
  height: 100px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 0 0 25px 25px;
  /* border-bottom: 1px solid rgb(178, 191, 247); */
  box-shadow: -5px 5px 10px  rgba(178, 191, 247, 0.5);
}

footer {
  height: 100px;
  background-color: rgb(225, 250, 247);
  padding: 20px;
  border-radius: 25px 25px 0 0;
  box-shadow: -5px -5px 10px  rgba(178, 191, 247, 0.5);
}

main {
  height: calc(auto - 200px);
  /* background-color: rgb(238, 226, 177); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  justify-content: space-evenly;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

input {
  width: 50%;
}

a[href*="amenu"] {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

a:hover[href*="amenu"] {
  color: red;
}

#amenu-lists,
#amenu-forms,
#amenu-anima {
  margin-bottom: 20px;
  /* border: 1px solid green; */
}
footer>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure {
  text-align: center;
}
.absolu__logo {
  width: 80px;
  height: 80px;
  background-color: #c54245;
  border: 3px solid #3c9c33;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  color: wheat;
}

ul,
#lists,
#forms {
  /* border: 1px solid #000; */
  padding: 0 20px;
}

/* Блоки анимации яблочка на тарелочке - начало */

#amenu-anima {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  position: relative;
}

.tarelochka {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  /* border: 2px solid rgb(37, 11, 184); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 30px rgb(141, 163, 224);
  transition: transform 3s linear;
  background-image: url(/img/sun.png);
  background-size: cover;
  z-index: 1;
}
.tarelochka_fade {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  z-index: 2;
  border-radius: 50%;
  border: 2px solid rgb(37, 11, 184);
  box-shadow: inset 5px 5px 30px rgb(141, 163, 224);
}
.yablochko {
  background-color: #c54245;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px black;
  position: absolute;
  margin: auto;
  z-index: 3;
  border: 2px solid orange;
}
.listik {
  width: 40%;
  height: 40%;
  background-color: darkgreen;
  border: 1px solid #3c9c33;
  position: absolute;
  bottom: 0;
  right: -20px;
  border-radius: 0 70%;
  transform: rotate(-20deg);
}
/* Блоки анимации яблочка на тарелочке - конец */
